

body {
    background-color: rgb(255, 250, 244);
    color:rgb(2, 1, 1);
    margin: 0px;
    font-family: scotch-modern;
}
html {
    scroll-behavior: smooth;
}
#title {
    font-family: 'Old Standard';
    font-size: 4vw;
    letter-spacing: 0.241em;
    margin: 10px;
}
a:link {
    color: rgb(235, 41, 106);
}
a:visited {
    color: rgb(155,14,1);   
}
.name {
    font-family: scotch-modern-display, serif;
    font-size: 2em;
    margin: 0px;
}
.description {
    font-family: scotch-modern, serif;
}
#content {
    min-height: 1000px;
}
.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
#titleContainer {
    transform: translate(-50%, -50%) scale(2);
    opacity: 1;
}
#scrollArrowContainer {
    transform: translate(-50%, 50%);
    opacity: 1;
}
#scrollArrow {
    width:64px;
    height:64px;
    margin-top:100px;
    cursor: pointer;
}
#DesmosInfo {
    width: 50%;
    margin-left: 5rem;
    margin-right: 5rem;
    transform: translate(0%, 25%);
}
.text {
    font-size: 1.5em;
    margin-top: 70%;
    margin-left: 5rem;
    margin-right: 5rem;
}
.figure {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.spacer {
    min-height: 30px;
}
.imageContainer {
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin:auto;
}
.caption {
    font-family: scotch-modern;
    text-align: center;
    margin-bottom: 0px;
}
.informationContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}
@media (min-aspect-ratio: 7/5) {
    .spacer {
        min-height: none;
        min-width: 70px;
    }
    .imageContainer {
        min-width: 50%;
        max-width: 50%;
        max-height: 60vh;
    }
    .figure {
        max-height: 60vh;
    }
    .informationContainer {
        flex-direction: row;
        width: 80%;
    }
}
.check-answers, .check-answer {
    cursor: pointer;
    border: 2px solid #000000;
    background-color: rgb(255, 250, 244);
    border-radius: 6px;
    font-family: scotch-modern;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}   
canvas {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    position: fixed;
    cursor: not-allowed;
    pointer-events: none;
}